.something {}

.profile {
    margin: 0px;
}

.false {
	background-color: #ff3b30;
}

.true {
	background-color: #4cd964;
}

.null {
	background-color: #cccccc;
}

.blob {
	font-size: 4px;
	width: 32px;
    height: 32px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    line-height: 8;
}

.deploy-container {
	display:flex;
	flex-direction:column;
	/* border: 1px solid #007aff; */
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.datetime {
	font-size: x-small;
    flex-grow: 1;
    line-height: 3;
}